# Mac stuff
.DS_Store


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / Packaging
.Python
env/
venv/
build/
dist/
sdist/

downloads/
eggs/
lib/
lib64/
parts/
var/
target/
develop-eggs/
*.egg-info/
*.egg
.installed.cfg


# logs
pip-log.txt
*.log


# Eclipse
.settings/
.project
.classpath


# Jetbrain PyCharm
.idea/
*.iws
/bin/

